/**
  @file index.css
 
  @date 2019-8
  @author Génesis García Morilla <gengns@gmail.com>

  @description Global style
 */
:root {
 --gradient: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

* {
  font-family: 'Roboto', sans-serif;
  color: #333;
}

body {
  margin: 0;
  background-color: #f3f3f3;
}

.hide {
  display: none;  
}

h2, h3, p {
  margin: auto;
}

form {
  display: inline-grid;
  grid-gap: 20px;
}

button, select, a {
  cursor: pointer;
}

form > h1 {
  font-size: x-large;
}

input, select {
  font-size: large;
  font-weight: bold;
  padding: 5px 20px;
  background: white;
}

table {
  width: 100%
}

#progress-bar {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 5px;
  background-image: 
    repeating-linear-gradient(
      -45deg,
      #333,
      #333 11px,
      #eee 10px,
      #eee 20px
    );
  background-size: 28px 28px;
  animation: move .5s linear infinite;
  /* Way in */
  transition-timing-function: ease-in;
  transition: 0.2s;
  transform: translateY(-130%);
}

#progress-bar.show {
  transition-timing-function: ease-out;
  transition: 0.25s;
  transform: translateY(0);
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 28px 0;
  }
}