/**
  @file login.css
 
  @date 2019-8
  @author Génesis García Morilla <gengns@gmail.com>

  @description Login style
 */

#login {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#login > * {
  margin: 20px auto;
}

#login img:first-of-type {
  width: 25vh;
}

#login button {
  font-size: large;
  font-weight: bold;
  padding: 5px 20px;
  background: white;
}

#login button {
  background-color: salmon;
  color: white;
}

#login form {
  margin: 0 20px;
}


/* Language */
#login select {
  width: 50%;
}