/**
  @file place.css
 
  @date 2019-8
  @author Génesis García Morilla <gengns@gmail.com>

  @description Place style
 */

 #place {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template:
  "header" 48px
  "main" calc(100% - 48px)
}


/* Drawer */
#place aside {
  position: fixed;
  height: 100vh;
  padding: 10px;
  z-index: 6;
  width: 200px;
  background-image: var(--gradient);
  /* Way in */
  transition-timing-function: ease-in;
  transition: 0.2s;
  transform: translateX(-130%);
}

#place aside.show {
  transition-timing-function: ease-out;
  transition: 0.25s;
  transform: translateX(0);
}

#place section {
  margin-bottom: 20px;
}

#place section img {
  width: 110%;
  margin-left: -10px;
  margin-top: -10px;
}

#place nav {
  height: 100%;
  overflow-y: auto;
}

#place p {
  color: salmon;
}

#place a {
  display: inline-flex;
  width: 100%;
  padding: 5px;
  border-radius: 10px;
}

#place a:hover {
  background-color: salmon;
  transition-timing-function: ease-out;
  transition: 0.25s;
  color: white;
}

#place a > i {
  margin-right: 32px;
}


/* Search input */
#place input {
  position: fixed;
  z-index: 1;
  right: 0;
  top: 48px;
  /* Way in */
  transition-timing-function: ease-in;
  transition: 0.2s;
  transform: translateX(130%);
}


/* Blackout */
#blackout {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  /* Way in */
  transition-timing-function: ease-in;
  transition: 0.2s;
  transform: translateX(130%);
}

#place input.show, #blackout.show {
  transition-timing-function: ease-out;
  transition: 0.25s;
  transform: translateX(0);
}

/* Header */
#place header {
  grid-area: header;
  display: inline-flex;
  background-color: salmon;
}

#place header h2 {
  color: white;
}

#place button {
  border: none;
  width: 48px;
  height: 48px;
}


/* Map */
#place main {
  grid-area: main;
  background-color: grey;
}

/* Info */
#place #info {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: #dddddd;
  /* Way in */
  transition-timing-function: ease-in;
  transition: 0.2s;
  transform: translateY(100%);
}

#place #info.show {
  transition-timing-function: ease-out;
  transition: 0.25s;
  transform: translateY(0);
}

#place #info td {
  padding: 10px 20px;
}

#place #info tr:nth-of-type(even) {
  background-color: salmon;
}

#place #info tr:nth-of-type(even) > td:first-of-type {
  color: white;
}

#place #info tr > td:first-of-type {
  font-weight: bold;
}